<% content_for :title, 'ようこそ' %>
<h2>Twitter で始めたことをつぶやきましょう!</h2>
<%= tweet_button url: "http://emacs-kentei.heroku.com/", lang: "ja", text: "Emacs 検定 始めました #emacskentei", size: "large", related: "tomy_kaira", via: "" %>
<h2>問題を解きましょう!</h2>
<p>まずは問題を解いてみましょう。<br />
他のユーザが登録した問題がたくさんあります。</p>
<p>間違えても大丈夫。答えが表示されるので、それをみて勉強してください。</p>
<%= link_to '問題一覧', '/problems', class: 'btn' %>
<h2>問題を作りましょう</h2>
<p>他の問題を見て、雰囲気がわかったら、ぜひ問題を自分で作ってみてください。<br />
ニッチな問題なら、他の Emacs 上級者にとっても勉強になります。</p>
<%= link_to '問題を作る', '/problems/new', class: 'btn' %>
